:root {
  --font-text-title: 'Roboto', sans-serif;
  --font-text-logo: 'Raleway', sans-serif;

  --primary-text-color: rgba(255, 255, 255, 0.6);
  --title-text-color: #212121;
  --secondary-color: #2196f3;
  --paragraph-color: #757575;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
li {
  list-style: none;
}
/*---Body---*/
.page {
  width: 1600px;
  background-color: #ffffff;
  color: var(--primary-text-color);
  font-family: var(--font-text-title);
}
.section-title {
  color: var(--title-text-color);
  font-family: var(--font-text-title);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;

  text-align: center;
}

/*=====Container=====*/
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  outline: 2px dashed red;
}

/*====== Header ======*/
.nav {
  display: flex;
  align-items: center;
}
header {
  width: 1200px;
  padding: 24px 0;
  margin-left: auto;
  margin-right: auto;
}
.header .container {
  display: flex;
}

/*---Logo---*/
.logo {
  color: #000000;
  font-family: var(--font-text-logo);
  font-size: 26px;
  font-weight: 700;
  line-height: 1.193;
  letter-spacing: 0.03em;

  text-decoration: none;

  margin-right: 93px;
}
.footer .logo {
  color: #ffffff;
  font-family: var(--font-text-logo);
  font-size: 26px;
  font-weight: 700;
  line-height: 1.193;
  letter-spacing: 0.03em;

  text-decoration: none;
}
.logo-web {
  color: var(--secondary-color);
}

/*========= Site-nav ==========*/
.nav {
  display: flex;
  margin-right: auto;
}
.site-nav {
  display: flex;
  align-items: center;
}
.site-nav .li:last-child {
  margin-right: 0px;
}
.site-nav .li {
  margin-right: 50px;
}
.site-nav .link {
  color: var(--title-text-color);
  font-family: var(--font-text-title);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;

  text-decoration: none;
}
.site-nav .link.current {
  color: var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--secondary-color);
  font-family: var(--font-text-title);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.02em;

  text-decoration: none;
}

/*========== Nav-contact ===========*/

.nav-contact {
  display: flex;
  align-items: center;
}
.nav-contact .li {
  margin-left: 50px;
}
.nav-contact .li:not(:last-child) {
  margin-left: 0px;
}
.nav-contact .tel,
.nav-contact .mail {
  color: var(--paragraph-color);
  font-size: 14px;
  font-family: var(--font-text-title);
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;

  text-decoration: none;
}
.nav-contact .mail {
  margin-left: 0px;
}
.nav-contact .tel:focus,
.nav-contact .tel:hover {
  color: var(--secondary-color);
  font-size: 14px;
  font-family: var(--font-text-title);
  font-weight: 500;
  letter-spacing: 0.02em;

  text-decoration: none;
}
.nav-contact .mail:focus,
.nav-contact .mail:hover {
  color: var(--secondary-color);
  font-size: 14px;
  font-family: var(--font-text-title);
  font-weight: 500;
  letter-spacing: 0.02em;

  text-decoration: none;
}

/*========== Hero =========*/
.hero {
  width: 1600px;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background: url('../img/Hero.jpg'), rgba(47, 48, 58, 0.4);
}
.hero-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 696px;
  margin-left: auto;
  margin-right: auto;
}
.hero-title {
  color: #ffffff;
  font-style: normal;
  font-family: var(--font-text-title);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3;
  letter-spacing: 0.06em;

  text-align: center;
  text-transform: uppercase;
}

.hero .button {
  padding: 10px 32px;
  color: #ffffff;
  font-family: var(--font-text-title);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.8;

  background-color: var(--secondary-color);
  border: 6px solid var(--secondary-color);
  border-radius: 4px;

  margin-top: 30px;
}
/*---Feature---*/
.section.feature {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 94px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 94px;
}
.feature-list {
  align-items: center;
  justify-content: center;
  display: flex;
  margin-right: -30px;
}
.feature-list .li {
  margin-right: 30px;
  flex-basis: calc(100% / 4 - 30px);
  width: 270px;
}

.feature-list .title {
  color: var(--title-text-color);
  font-family: var(--font-text-title);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.feature-list .text {
  color: var(--paragraph-color);
  font-family: var(--font-text-title);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;

  margin-top: 10px;
}

/*---Work Team---*/

.section.work {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 94px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 94px;
}
.work-team {
  margin-top: 50px;
  margin-left: -30px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}
.work-team .li {
  margin-left: 30px;
  flex-basis: calc((100% - 90px) / 3);
  width: 370px;
}

/*---Our-team---*/

.section.team {
  margin-left: auto;
  margin-right: auto;
  background: #f5f4fa;
  padding: 94px 0px;
}
.team-list {
  margin-top: 50px;
  display: flex;
  margin-right: -30px;
}
.team-list .li {
  text-align: center;
  margin-right: 30px;
  width: 270px;
  flex-basis: calc(100% / 4 - 30px);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list-div {
  padding-bottom: 30px;
  padding-top: 30px;
}
.team-list .name {
  color: var(--title-text-color);
  font-family: var(--font-text-title);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.03em;
}
.team-list .profesion {
  margin-top: 10px;

  color: var(--paragraph-color);
  font-family: var(--font-text-title);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1;
  letter-spacing: 0.03em;
}

/*---Footer---*/

.footer {
  width: 1600px;
  background-color: #2f303a;
  padding: 60px 0px;
}

.footer .addres {
  color: #ffffff;
  font-family: var(--font-text-title);
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.footer .mail,
.footer .tel {
  color: rgba(255, 255, 255, 0.6);
  font-family: var(--font-text-title);
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.footer .mail:hover,
.footer .mail:focus {
  color: var(--secondary-color);
}
.footer .tel:hover,
.footer .tel:focus {
  color: var(--secondary-color);
}

/*---PORTFOLIO---*/

.header.portfolio {
  border-bottom: 1px solid #ececec;
}

/*---CONTENT---*/

.content {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 94px;
  margin-bottom: 94px;
}

/*---Filter-list---*/

.filter-list {
  display: flex;
  justify-content: center;
  padding-top: 94px;
}
.filter-list .li {
  margin-left: 10px;
}
.filter-list .li:first-child {
  margin-left: 0px;
}
.filter-list .button {
  justify-content: center;
  align-items: center;
  font-family: var(--font-text-title);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;

  padding: 6px 22px;

  background-color: #f5f4fa;
  border: 2px solid #f5f4fa;
  border-radius: 4px;
}
.filter-list .button:focus,
.filter-list .button:hover {
  background-color: #2196f3;
  color: #ffffff;
  border: 2px solid #2196f3;
}

/*---Work-list---*/
.container-list {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.work-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;

  margin-left: -30px;
  margin-top: -30px;
  padding-top: 50px;
  padding-bottom: 94px;
}
.work-list-item {
  /* flex-basis: calc(100% / 3 - 30px); */
  flex-basis: calc((100% - 90px) / 3);
  margin-left: 30px;
  margin-top: 30px;
  border: 2px solid #eeeeee;
}
.work-list .title {
  color: var(--title-text-color);
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;

  margin-top: 20px;
  margin-left: 24px;
}
.work-list .text {
  color: var(--paragraph-color);
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8;
  letter-spacing: 0.03em;

  margin-top: 4px;
  margin-bottom: 20px;
  margin-left: 24px;
}
.work-list .link {
  text-decoration: none;
}
/*---Addres---*/
.addres-list {
  display: flex;
}
.footer {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
.footer .logo {
  margin-right: 0px;
}
.footer-address {
  width: 240px;
}
.footer-list {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: -10px;
}
.footer-list-link {
  margin-bottom: 10px;
  flex-basis: calc(100% / 3 -10px);
}
.footer-list-link:last-child {
  margin-bottom: 0;
}
